/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-nov-2021, 20:39:09
    Author     : judith
*/

header{
    background-color: #212529;
    margin-bottom: 2rem;
}
section {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 5rem;
}
section h5{
    margin-bottom: 3rem;
}
section #addButton{
    position: relative;
    left: 37rem;
    bottom: 1rem;
    top: 1rem;
}
.formSearch{
    display: flex;
    margin-bottom: 4rem;
}
/*Tamaño del logotipo del encabezado*/
#logotipoEncabezado{
    width: 5rem;
    transition: transform 4s ;
}

.addButton{
    position: relative;
    left: 38vw;
    bottom: 1rem;
}
#logotipoEncabezado2{
    margin-left: -1.5rem;
    width: 15rem;
}
/*Color en naranja de las letras y el boton hamburguesa del encabezado*/
#navbarNav a{
    margin-left: 1rem;
    color: #ff1800;
}
#btnHamburguesa{
    background-color: #c42514;
}
/*Animación del logotipo*/
#divEncabezado:hover  #logotipoEncabezado{
    transform: rotateY(360deg);
}
#peluqueria{
    color: #c42514;
}
/*Letra h1*/
.tipoLetra1{
    font-family: 'Lexend Mega', sans-serif;
}
/*Letra del nav*/
.letraQuicksand{
    font-family: 'Quicksand', sans-serif;
}
/*Clase que otorga espaciado entre una sección y otra*/
.marginSeccion{
    margin-top: 4rem;
}
.marginbottom{
    margin-bottom: 2rem;
}
.paddingTop{
    padding-top: 2rem;
}
.margin10px{
    margin: 10px;
}
.btnsize{
    width: 15rem;
    height: 5rem;
}
.paddingRight{
    padding-right: 1rem;
}
/*Color del h5 en el footer*/
footer{
    background-color: #212529;
    color: #ff1800;
    padding-bottom: 0.2rem;
    padding-top: 1rem;
    position: fixed;
    bottom: 0;
}
footer h5{
    font-size: 12px;
}

/*Form Search*/
/*Codigo buscar*/
#formBuscar{
    position: relative;
    left: 6rem;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    margin-bottom: 3rem;
    height: 50px;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid #212529;
    padding: 5px;
}

#inputBuscar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 41px;
    height: 41px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #212529;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

#formBuscar:hover{
    width: 200px;
    cursor: pointer;
}

#formBuscar:hover #inputBuscar{
    display: block;
}

#formBuscar:hover .fa{
    background: #212529;
    color: #c42514;
    width: 47px;
    height: 47px;
    top: -2.5px;
    right: -1.5px;
}
